:root{
  --darkblue: #131531;
  --blue3: #496C99;
  --blue2: #96ABC6;
  --blue1: #BBC9DA;
  --red4: #a32b0d;
  --red3: #FF4E24;
  --red2: #da8671;
  --red1: #FFC6B2;
  --yellow2: #D2963F;
  --yellow1: #D6B13A;
  --grey2: #989898;
  --grey1: #D9D9D9;
}


body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-family: 'Roboto Mono', monospace;
  background-color: var(--darkblue) !important;
  color: var(--grey2);
  font-size: .8rem;
}
.chart {
  grid-row: 2;
  grid-column: 2 / span 1;
  align-content: center;
}
.mapchart{
  margin-top: 40px;
  grid-row: 4/5;
  grid-column: 3/4;
  align-self: start;
}

.info{
  margin-left: 20px;
  color: var(--red2);
  height: 100px;
}

.pagination{
  margin: 2rem 0 2rem 0;
  justify-self: center;
}

/* head */
.heading {
  justify-self: center;
  font-size: 30px;
  margin: 5rem 0 2rem 0;
}
.header {
  color: white;
  font-weight: bold;
  font-size: 26px;
  align-self: start;
  margin-bottom: 1rem;
}
.subheader {
  color: rgb(185, 185, 185);
  font-size: .8rem;
}

.map-state-highlighted {
  opacity: 40%;
}

/* slider */

#year-filter::-webkit-slider-thumb {
  background: var(--grey2) ;
} 
#year-filter::-moz-range-thumb {
  background: var(--grey2) ;
} 

/* scroller*/
#sections {
position: relative;
display: inline-block;
width: 250px;
top: 120px;
z-index: 90;
}

.step {
margin-bottom: 200px;
}

#vis {
display: inline-block;
position: sticky;
top : 200px;
z-index: 1;
margin-left: 500px;
right: 100px;
background: white;
opacity: 40%
}

/* unused */
.pagination{
  margin: 85px 0px 5rem 3rem;
  justify-self: center;
}

.is-active {
  opacity: 100%;
}
.is-inactive {
  opacity: 20%;
}